      /* Always set the map height explicitly to define the size of the div
      
       * element that contains the map. */

      
      body {
        font-family: 'Modak', cursive;
	      background-image: url("background_blurred.png");
        background-size:cover;
      } 

      
       #Heading {
        font-family: 'Modak', cursive;
        font-size: 60px;
       }
       #concLayers {
         font-family: 'Modak', cursive;
         background-image: url("Arctic1.jpg");
         background-repeat: no-repeat;
         background-position-y: 250px;
         background-position-x: -170px;
         position: absolute;
         right: 700px;
         height: 50%;
         background-color: #000;

      }
       #map {
        font-family: 'Modak', cursive;
        position: absolute;
        left: 350px;
        height: 50%;
        width: 90%;
        background-color: #000;
    
      
      }
      #Graph {
        font-size: 60px;
        font-family: 'Modak', cursive;
        background-image: url("grey.jpeg");
        height: 50%;
        width: 90%;
   
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        font-size: 40px;
        font-family: 'Modak', cursive;
        height: 100%;
        margin: 0;
        padding: 0;
      }